/*
Name: 			style.scss
Written by: 	Ahmed Osama Bedawy - (https://github.com/ahmeddoosama)
*/
/* Colors */
/* Fonts */
/* btns */
/* cards */
/* Sections */
/* Section titles */
/* Responsive */
/* Colors */
/*** 

====================================================================
  Global Settings
====================================================================

 ***/
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

a {
  text-decoration: none;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

a:hover {
  text-decoration: none;
  outline: none;
}

input,
button,
select,
textarea {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

input {
  transition: all 500ms ease;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
  transition: all 500ms ease;
}

p {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.8;
  margin: 0px;
  transition: all 500ms ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 400;
  margin: 0px;
  transition: all 500ms ease;
}

img {
  max-width: 100%;
}

/* Section Title */
.section-title {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin: 30px 0;
}

/* Colors */
/* Fonts */
/* btns */
/* cards */
/* Sections */
/* Section titles */
/* Responsive */
/* Colors */
.btn {
  color: #e9673b;
  text-align: center;
  border: 1px solid #e9673b;
  background-color: unset;
  border-radius: 0;
  width: auto;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}
.btn:hover {
  color: #e9673b;
  opacity: 0.5;
}

/* btn-search */
.btn-search {
  border: none;
  position: absolute;
  right: 25px;
}

/* btn-service */
.btn-service {
  color: #595C61;
  border: 1px solid #595C61;
  opacity: 0.8;
  padding: 7px 50px;
  border-radius: 10px;
  font-size: 18px;
}

/* btn-card */
.btn-card {
  padding: 7px 30px;
  color: #FFF;
  background-color: #e9673b;
}

/* btn-submit */
.btn-submit {
  position: relative;
  bottom: 2px;
  right: 3px;
  padding: 8px 10px;
  color: #FFF;
  background-color: #e9673b;
  font-weight: 600;
}

/* Colors */
/* Fonts */
/* btns */
/* cards */
/* Sections */
/* Section titles */
/* Responsive */
/* Colors */
.card {
  border: none;
  text-align: center;
  margin: 40px 0;
  color: #363636;
  background-color: unset;
}
.card .card-top {
  margin-bottom: 25px;
}
.card .card-top > span {
  padding: 20px 30px;
  color: #FFF;
  font-size: 45px;
}
.card .card-body .card-title {
  font-size: 25px;
}

/* Service Card */
.service-card .card-top > span {
  background-image: linear-gradient(90deg, #833ab4 0%, #a3328c 0%, #fd1d1d 0%, #f69b2b 100%, #f69b2b 100%);
  border-radius: 50%;
  box-shadow: 11px 5px 2px #DDD;
  opacity: 0.9;
}
.service-card .card-body .card-title,
.service-card .card-body .card-text {
  color: #595C61;
}

/* statistics Card */
.statistic-card .card-top > span {
  padding: 10px 20px;
  font-size: 45px;
  border: 3px solid #FFF;
  border-radius: 15px;
}
.statistic-card .card-body {
  color: #FFF;
}
.statistic-card .card-body .card-title {
  font-size: 30px;
  font-weight: 600;
}
.statistic-card .card-body .card-text {
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
}
.statistic-card:hover span {
  color: #e9673b;
  background-color: #FFF;
}

/* Nwes Card */
.new-card {
  text-align: left;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(110, 110, 110, 0.2);
  max-width: 30.333333%;
  margin-right: 3%;
}
.new-card .card-body .card-title {
  font-weight: 600;
  font-size: 21px;
}
.new-card .card-body .data {
  color: #595C61;
}
.new-card .card-body .card-text {
  font-size: 16px;
}
.new-card .card-bottom {
  margin: 0 0 20px 20px;
}

/* ========== Contain navbar style ========== */
/* Colors */
/* Fonts */
/* btns */
/* cards */
/* Sections */
/* Section titles */
/* Responsive */
/* Colors */
/* ========== Navbar ========== */
.main-nav {
  position: relative;
  right: 0;
  left: 0;
  z-index: 1030;
}
.main-nav .navbar-collapse {
  flex-grow: 0;
}
.main-nav .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #363636;
}
.main-nav .navbar-collapse .navbar-nav .nav-item .nav-link:hover, .main-nav .navbar-collapse .navbar-nav .nav-item .nav-link:focus {
  color: #e9673b;
}
.main-nav .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
  top: 55px;
}
.main-nav .navbar-collapse .navbar-nav .nav-item .search-bar {
  left: unset;
  right: 12%;
  padding: 20px;
  top: 73px;
}
.main-nav .navbar-collapse .navbar-nav .nav-item .dropdown-menu-lang {
  left: unset;
  right: 0;
}
.main-nav .navbar-collapse .navbar-nav .nav-item .flag-icon {
  max-width: 20px;
}

/* ========== Contain Footer style ========== */
/* Colors */
/* Fonts */
/* btns */
/* cards */
/* Sections */
/* Section titles */
/* Responsive */
/* Colors */
/* ========== Footer ========== */
.main-footer {
  background-color: #363636;
  color: #FFF;
  padding: 50px 0;
}
.main-footer .footer-title {
  text-align: start;
  border-bottom: 1px solid #595C61;
  font-size: 30px;
  padding-bottom: 15px;
}
.main-footer .body-footer {
  padding-top: 40px;
}
.main-footer .body-footer .title {
  font-size: 20px;
  padding-bottom: 15px;
}
.main-footer .body-footer ul > li {
  line-height: 2;
  color: #DDD;
}
.main-footer .body-footer .side-right .input-form {
  width: 60%;
  padding: 8px 10px;
}
.main-footer .body-footer .side-right > div {
  padding: 40px 0;
  color: #DDD;
}
.main-footer .body-footer .side-right .socialLinks {
  padding: 10px 0;
}
.main-footer .body-footer .side-right .socialLinks > a {
  margin-right: 10px;
  font-size: 20px;
  color: #DDD;
}

/* ========== Contain Home page style ========== */
/* Colors */
/* Fonts */
/* btns */
/* cards */
/* Sections */
/* Section titles */
/* Responsive */
/* Colors */
/* ========== Home page ========== */
main {
  /* All sections */
  /* our-service sections */
  /* overview sections */
  /* statistics sections */
  /* overview sections */
  /* statistics sections */
}
main section {
  margin: 20px 0 40px 0;
  text-align: center;
}
main .our-service .card-group {
  padding-bottom: 40px;
}
main .overview,
main .statistics {
  padding-top: 20px;
  background-size: cover;
  height: 450px;
}
main .overview h3,
main .statistics h3 {
  color: #FFF !important;
}
main .overview {
  background: url("../../images/background/Layer 7.png") no-repeat center center fixed;
}
main .overview p {
  font-size: 18px;
  color: #FFF !important;
}
@media only screen and (max-width: 1200px) {
  main .overview p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 767px) {
  main .overview {
    height: 510px;
  }
  main .overview p {
    font-size: 12px;
  }
}
main .statistics {
  background: url("../../images/background/Layer 8.png") no-repeat center center fixed;
  padding-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
