/*
Name: 			style.scss
Written by: 	Ahmed Osama Bedawy - (https://github.com/ahmeddoosama)
*/
/* Colors */
/* Fonts */
/* btns */
/* cards */
/* Sections */
/* Section titles */
/* Responsive */
/* Colors */
/*** 

====================================================================
  Global Settings
====================================================================

 ***/
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

a {
  text-decoration: none;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

a:hover {
  text-decoration: none;
  outline: none;
}

input,
button,
select,
textarea {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

input {
  transition: all 500ms ease;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
  transition: all 500ms ease;
}

p {
  position: relative;
  font-family: "Open Sans", sans-serif;
  color: #595C61;
  font-weight: 400;
  line-height: 1.8;
  margin: 0px;
  transition: all 500ms ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 400;
  color: #131313;
  margin: 0px;
  transition: all 500ms ease;
}

img {
  max-width: 100%;
}

/* Section Title */
.section-title {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin: 30px 0;
}

/* Colors */
/* Fonts */
/* btns */
/* cards */
/* Sections */
/* Section titles */
/* Responsive */
/* Colors */
.btn {
  color: #b52202;
  text-align: center;
  border: 1px solid #b52202;
  background-color: unset;
  border-radius: 0;
  width: auto;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}
.btn:hover {
  color: #b52202;
  opacity: 0.5;
}

/* btn-search */
.btn-search {
  border: none;
  position: absolute;
  right: 25px;
}

/* btn-service */
.btn-service {
  color: #595C61;
  border: 1px solid #595C61;
  opacity: 0.8;
  padding: 7px 50px;
  border-radius: 10px;
  font-size: 18px;
}

/* Colors */
/* Fonts */
/* btns */
/* cards */
/* Sections */
/* Section titles */
/* Responsive */
/* Colors */
.card {
  border: none;
  text-align: center;
  margin: 40px 0;
  color: #282828;
}

/* Service Card */
.service-card .card-top {
  margin-bottom: 25px;
}
.service-card .card-top > span {
  background-image: linear-gradient(90deg, #833ab4 0%, #a3328c 0%, #fd1d1d 0%, #f69b2b 100%, #f69b2b 100%);
  padding: 20px 30px;
  border-radius: 50%;
  color: #FFF;
  font-size: 45px;
  box-shadow: 11px 5px 2px #DDD;
  opacity: 0.9;
}
.service-card .card-body .card-title {
  color: #595C61;
  font-size: 25px;
}

/* ========== Contain navbar style ========== */
/* Colors */
/* Fonts */
/* btns */
/* cards */
/* Sections */
/* Section titles */
/* Responsive */
/* Colors */
/* ========== Navbar ========== */
.main-nav {
  position: relative;
  right: 0;
  left: 0;
  z-index: 1030;
}
.main-nav .navbar-collapse {
  flex-grow: 0;
}
.main-nav .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #282828;
}
.main-nav .navbar-collapse .navbar-nav .nav-item .nav-link:hover, .main-nav .navbar-collapse .navbar-nav .nav-item .nav-link:focus {
  color: #b52202;
}
.main-nav .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
  top: 55px;
}
.main-nav .navbar-collapse .navbar-nav .nav-item .search-bar {
  left: unset;
  right: 12%;
  padding: 20px;
  top: 73px;
}
.main-nav .navbar-collapse .navbar-nav .nav-item .dropdown-menu-lang {
  left: unset;
  right: 0;
}
.main-nav .navbar-collapse .navbar-nav .nav-item .flag-icon {
  max-width: 20px;
}

/* ========== Contain Home page style ========== */
/* Colors */
/* Fonts */
/* btns */
/* cards */
/* Sections */
/* Section titles */
/* Responsive */
/* Colors */
/* ========== Home page ========== */
main {
  /* All sections */
  /* our-service sections */
  /* overview sections */
}
main section {
  margin: 20px 0 40px 0;
  text-align: center;
}
main .our-service .card-group {
  padding-bottom: 40px;
}
main .overview {
  background-image: url("../../images/background/Layer 7.png");
  padding-top: 20px;
  background-size: cover;
  height: 450px;
}
main .overview h3 {
  color: #FFF !important;
}
main .overview p {
  font-size: 18px;
  color: #FFF !important;
}
@media only screen and (max-width: 1200px) {
  main .overview p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 767px) {
  main .overview {
    height: 510px;
  }
  main .overview p {
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
