/* ========== Contain Header style ========== */
@import '../partials/variables';
@import '../partials/colors';

/* ========== Header ========== */
.main-header {

    .carousel {
        .carousel-item {
            background: url('../../images/background/background-header.png') no-repeat center center;
            background-size: cover;
            height: 550px;

            .carousel-body {
                background: url('../../images/background/Rectangle-header.png') no-repeat;
                padding-top: 6%;
                padding-left: 30px;
                height: 550px;

                h1 {
                    width: 35%;
                    line-height: 1.3;
                    color: $mainColor;
                    padding-bottom: 20px;
                }

                p {
                    color: $dimgray;
                    width: 50%;
                    padding: 15px 0;
                }

            }
        }

        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            position: absolute;
            right: 4%;
            background-image: unset;
            color: $white;
            font-size: 20px;
            z-index: 999;
        }

        .carousel-control-prev-icon {
            top: 51%;

            &:hover {
                color: $mainColor;
            }
        }

        .carousel-control-next-icon {
            top: 30%;

            &:hover {
                color: $mainColor;
            }
        }

        .carousel-indicators {
            display: block;
            right: 54px;
            bottom: 40%;
            left: unset;
            margin: 0;

            >li {
                width: 0;
                height: 0;
                border: 8px solid transparent;
                border-bottom-color: $white;
                position: relative;
                top: -50px;
                margin-bottom: 15px;

                &:after {
                    content: '';
                    position: absolute;
                    left: -8px;
                    top: 8px;
                    width: 0;
                    height: 0;
                    border: 8px solid transparent;
                    border-top-color: $white;
                }

                &:hover {
                    border-bottom-color: $mainColor;
                    &:after {
                        border-top-color: $mainColor;
                    }
                }
            }

            .active {
                border-bottom-color: $mainColor;
                &:after {
                    border-top-color: $mainColor;
                }
            }
        }


    }

    /* Header Mobile */

    .header-mobile {
        display: none;
    }


    @media #{$MediumDevices} {
        .carousel {
            display: none;
        }

        .header-mobile {
            display: inline-block;
            background: url("../../images/background/bg-header-mobile.jpg") no-repeat center center;
            background-size: cover;
            height: 550px;
            color: $white;
            width: 100%;

            .overlay {
                padding: 60px 0;
                position: relative;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0,0,0,0.7);
                z-index: 2;

                .header-mobile-content{
                    padding-top: 12%;

                    h1 {
                        font-size: 35px;
                        padding-bottom: 35px;
                        color: $mainColor;
                        line-height: 1.5;
                    }

                    p {
                        font-size: 17px;
                        line-height: 1.8;
                    }

                    .btn-header {
                        margin-top: 30px;
                    }
                }
            }
        }
    }

    @media #{$smallDevices} {
        padding: 20% 0px;
        .header-mobile-content{
            padding-top: 0 !important;
        }
    }
}