/* ========== Contain navbar style ========== */
@import '../partials/variables';
@import '../partials/colors';

/* ========== Navbar ========== */
.main-nav {
    position: relative;
    right: 0;
    left: 0;
    z-index: 1030;

    .navbar-collapse {
        flex-grow: 0;

        .navbar-nav {

            .nav-item {
                .nav-link {
                    color: $dimgray;

                    &:hover,
                    &:focus {
                        color: $mainColor;
                        font-weight: $font-weight-600;
                    }
                }

                .dropdown-menu {
                    top: 55px;
                    background-color: $whitesmoke;
                    border-radius: 0;
                    border-top: 3px solid $mainColor;
                    .dropdown-item {
                        padding: 10px 70px 10px 10px;
                        &:hover {
                            color: $mainColor;
                        }
                    }
                    .dropdown-item:not(:last-child) {
                        border-bottom: 1px solid $whitegray;
                    }
                }

                .search-bar {
                    left: unset;
                    right: 12%;
                    padding: 20px;
                    top: 73px;
                }

                .dropdown-menu-lang {
                    left: unset;
                    right: 0;
                    min-width: auto;
                    text-align: $text-align-center;
                    .dropdown-item {
                        padding: 5px 20px;
                    }
                }

                .flag-icon {
                    max-width: 20px;
                }
            }
        }
    }

    @media #{$MediumDevices} {
        position: absolute;
        background-color: $white;
        .nav-link {
            font-weight: $font-weight-600;
        }
    }
}