// desc: 'Contain buttons styles'

// Button Variables
@import '../partials/variables';
@import '../partials/colors';

// Button Style
.btn {
    color: $mainColor;
    text-align: $text-align-center;
    border: $all-btn-border;
    background-color: unset;
    border-radius: 0;
    width: auto;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

/* btn-header */
.btn-header {
    background: $backgroundColor;
    color: $white;
    font-weight: $font-weight-600;
    margin-top: 15px;
    padding: 10px 40px;
    border-radius: 5px;
}

/* btn-search */
.btn-search {
    border: none;
    position: absolute;
    right: 25px;
}

/* btn-service */
.btn-service {
    color: $gray;
    border: 1px solid $gray;
    padding: 7px 50px;
    border-radius: 10px;
    font-size: 18px;
}

/* btn-card */
.btn-card {
    padding: 7px 30px;
    color: $white;
    background-color: $mainColor;
}

/* btn-submit */
.btn-submit {
    position: relative;
    bottom: 2px;
    right: 3px;
    padding: 8px 10px;
    color: $white;
    background-color: $mainColor;
    font-weight: $font-weight-600;
}

/* social-btn */
.social-btn {
    border: none;
    background-color: $blue;
    color: $white;
    border-radius: 50%;
    margin-right: 10px;
}