/* Colors */

$mainColor: #b52202;


$white: #FFF;
$whitegray: #DDD;
$black: #000;
$blackgray: #131313;
$whitesmoke: #F5F5F5;
$gray: #595C61;
$dimgray: #282828;
$darkgray: #1D1D1D;

$backgroundColor: linear-gradient(90deg, rgb(131, 58, 180) 0%, rgb(163, 50, 140) 0%, rgb(253, 29, 29) 0%, rgb(246, 155, 43) 100%, rgb(246, 155, 43) 100%);;