// desc: 'Contain Utilities styles'

// Utilities Variables
@import '../partials/variables';
@import '../partials/colors';

/*** 

====================================================================
  Global Settings
====================================================================

 ***/

html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: $body-font-size;
    font-weight: $font-weight-400;
}

a {
    text-decoration: none;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

a:hover {
    text-decoration: none;
    outline: none;
}

input,
button,
select,
textarea {
    font-family: 'Open Sans', sans-serif;
    font-weight: $font-weight-400;
    font-size: 16px;
}

ul,
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

input {
    transition: all 500ms ease;
}

button:focus,
input:focus,
textarea:focus {
    outline: none;
    box-shadow: none;
    transition: all 500ms ease;
}

p {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: $font-weight-400;
    line-height: 1.5;
    margin: 0px;
    transition: all 500ms ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: $font-weight-400;
    margin: 0px;
    transition: all 500ms ease;
}

img {
    max-width: 100%;
}

/* Section Title */
.section-title {
    text-align: $text-align-center;
    font-size: $title-font-size;
    font-weight: $font-weight-600;
    padding-top: 30px;
    text-transform: uppercase;
}

/*overlay*/
.overlay {
    padding: 60px 0;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
}

/* line */
.line {
    margin-bottom: 40px;
    div {
        display: inline-block;
    }

    div:first-child {
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-bottom-color: $mainColor;
        position: relative;
        top: -4px;

        &:after {
            content: '';
            position: absolute;
            left: -7px;
            top: 7px;
            width: 0;
            height: 0;
            border: 7px solid transparent;
            border-top-color: $mainColor;
        }
    }

    div:not(:first-child) {
        width: 20px;
        height: 7px;
        background-color: $mainColor;
    }

    div:nth-child(2) {
        width: 50px;
        margin-right: 5px;
        margin-left: 5px;
    }
}

/* Scroll */
#scroll-top {
    background-color: $mainColor;
    color: #FFF;
    font-size: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    position: fixed;
    z-index: 999;
    right: 20px;
    border-radius: 50%;
    padding-top: 4px;
    cursor: pointer;
    bottom: 10px;
    display: none;
    opacity: 0.8;
}


/* preloader */
.handle-preloader {
    align-items: center;
    -webkit-align-items: center;
    display: flex;
    display: -ms-flexbox;
    height: 100%;
    justify-content: center;
    -webkit-justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99999;
    background: #fff;
}

.preloader-close {
    position: fixed;
    z-index: 999999;
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    padding: 5px 20px;
    cursor: pointer;
    right: 0;
    bottom: 0;
    font-weight: 600;
}

.handle-preloader .animation-preloader {
    position: absolute;
    z-index: 100;
}

.handle-preloader .animation-preloader .spinner {
    animation: spinner 1s infinite linear;
    border-radius: 50%;
    height: 150px;
    margin: 0 auto 45px auto;
    width: 150px;
}

.handle-preloader .animation-preloader .txt-loading {
    text-align: center;
    user-select: none;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading:before {
    animation: letters-loading 4s infinite;
    content: attr(data-text-preloader);
    left: 0;
    opacity: 0;
    top: 0;
    position: absolute;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    letter-spacing: 15px;
    display: inline-block;
    position: relative;
    font-size: 70px;
    line-height: 70px;
    text-transform: uppercase;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(2):before {
    animation-delay: 0.2s;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(3):before {
    animation-delay: 0.4s;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(4):before {
    animation-delay: 0.6s;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(5):before {
    animation-delay: 0.8s;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(6):before {
    animation-delay: 1s;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(7):before {
    animation-delay: 1.2s;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(8):before {
    animation-delay: 1.4s;
}

.handle-preloader .loader-section {
    background-color: #ffffff;
    height: 100%;
    position: fixed;
    top: 0;
    width: calc(50% + 1px);
}

.preloader .loaded .animation-preloader {
    opacity: 0;
    transition: 0.3s ease-out;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading {
    color: #b73604;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading:before {
    color: #b73604;
}

.handle-preloader .animation-preloader .spinner {
    border: 3px solid #b73604;
    border-top-color: rgba(183, 54, 4, 0.3);
}


/* AnimaciÃ³n del preloader */
@keyframes spinner {
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes letters-loading {

    0%,
    75%,
    100% {
        opacity: 0;
        transform: rotateY(-90deg);
    }

    25%,
    50% {
        opacity: 1;
        transform: rotateY(0deg);
    }
}

@media screen and (max-width: 767px) {
    .handle-preloader .animation-preloader .spinner {
        height: 8em;
        width: 8em;
    }
}

@media screen and (max-width: 500px) {
    .handle-preloader .animation-preloader .spinner {
        height: 7em;
        width: 7em;
    }

    .handle-preloader .animation-preloader .txt-loading .letters-loading {
        font-size: 40px;
        letter-spacing: 10px;
    }
}

/* preloader end */