// desc: 'Contain all website initial values for sections and headlines and divs and main inheritance for others'
@import "../partials/colors";

$text-align-center: center;
$text-align-right: right;
$text-align-left: left;


/* btns */
$all-btn-border: 1px solid $mainColor;
$all-btn-opacity: .5;

/* cards */
$all-cards-margin: 40px 0;

/* Sections */
$all-cards-margin: 20px 0;