/* ========== Contain Home page style ========== */
@import '../partials/variables';
@import '../partials/colors';


/* ========== Home page ========== */
main {

    /* All sections */
    section {
        margin: $all-section-margin;
        text-align: $text-align-center;
    }

    /* our-service sections */
    .our-service {
        padding-bottom: 50px;

        .card-group {
            padding-bottom: 40px;
        }
    }

    /* overview sections */
    /* statistics sections */
    .overview,
    .statistics {
        padding-top: 20px;
        background-size: cover;
        height: 450px;

        h3 {
            color: $white !important;
        }
    }

    /* overview sections */
    .overview {
        background: url('../images/background/bg-overview.png') no-repeat center center fixed;
        background-size: cover;

        p {
            font-size: 18px;
            line-height: 1.5;
            color: $white !important;
        }

        @media #{$MediumDevices} {
            p {
                font-size: 15px;
            }
        }

        @media #{$smallDevices} {
            height: 510px;

            p {
                font-size: 12px;
            }
        }

    }

    /* statistics sections */
    .statistics {
        background: url('../images/background/bg-staitics.png') no-repeat center center fixed;
        padding-bottom: 20px;
        background-size: cover;

        @media #{$MediumDevices} {
            height: auto;
        }
    }

    /* executives sections */
    .executives {

        .side-left {
            .executive-card {
                color: $black;

                .card-text {
                    padding: 20px 0 30px 0px;
                }
            }
        }

        .side-right {
            .executive-card {
                .card-body {
                    .card-title {
                        font-size: 16px !important;
                        color: $black;
                    }
                }
            }
        }
    }

    /* Partner Section */
    .partenr {
        padding-top: 5px;
        margin: 20px 0 50px 0;

        .section-title {
            margin: 0;
            padding: 20px 0 0 0;
        }

        
    }
}

.company-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .slider-partner {
        width: 1100px;
        height: 100px;
        position: relative;
        background: $white;
        display: flex;
        overflow: hidden;

        .slide-partner {
            height: 100px;
            display: flex;
            align-items: center;
            animation: slideshow 8s linear infinite;
            img {
                max-width: none;
                height: 125px;
                padding: 0 30px 0 30px;
            }
        }

        &::before,
        &::after {
            height: 100px;
            width: 200px;
            position: absolute;
            content: "";
            background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
            z-index: 2;
        }

        &::before {
            left: 0;
            top: 0;
        }

        &::after {
            right: 0;
            top: 0;
            transform: rotateZ(180deg);
        }
    }
}



@keyframes slideshow {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}